body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17bccb;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 0;
    color: white;
}

header img {
    max-width: 150px;
    height: auto;
}

header h1 {
    font-size: 36px;
    margin-top: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #888888;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #0073e6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
